<!DOCTYPE html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Gabriel Amorim | Resume</title>
		<meta name="description" content="Here you can find a bit more about me." />
		<meta name="keywords" content="Gabriel Amorim - Lead Product Manager / GPM / Senior Product Manager / Art Director / Product Designer / Product Owner" />
		<meta name="author" content="Gabriel Amorim"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!--Insert OG Markup -->
		<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
		<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Gabriel Amorim | Resume" />
		<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Here you can find a bit more about me." />
		<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.mrgabamo.com/img/thumbnail.png" />
		<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://www.mrgabamo.com" />

		<!--Insert Twitter Card Markup -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@mrgabamo" />
		<meta name="twitter:domain" content="https://www.mrgabamo.com" />
		<meta name="twitter:title" content="Gabriel Amorim | Resume" />
		<meta name="twitter:description" content="Here you can find a bit more about me." />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about me</span></li>
								<li><a data-scroll href="#services_sec"></a><span>what i do</span></li>
								<li><a data-scroll href="#client_sec"></a><span>career</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>work experience</span></li>
								<li><a data-scroll href="#work_sec"></a><span>past work</span></li>
								<!--<li><a data-scroll href="#achivement_sec"></a><span>achievements</span></li>-->
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								GABRIEL AMORIM
								</span>
								</a>	
							</div>
							<div class="float-right social-download-wrap">
								<a href="./download/resume_gabriel_amorim.pdf" class="btn btn-default float-right" target="_blank">
								<span class="mask"></span>
								<span class="btn-label">
								<b>download resume</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
							<div class="float-right social-download-wrap">
								<span>&nbsp&nbsp</span>
							</div>
							<div class="float-right social-download-wrap">
								<a href="./pt-br.html" class="btn btn-default float-right" target="_self">
								<span class="mask"></span>
								<span class="btn-label">
								<b>switch to pt-br</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
						</div>	
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								<span id="typed"></span>
							</h1>
							<h6>
								About Me
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								<a class="goto-social">Over 10 years of experience in Product, Portfolio Management, Market Strategy, Marketing and Growth.</a>
								<br>
								Entertainment guru. Vast knowledge in KYC, Fraud and Business Security. Crypto products launch specialist.
							</p>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Worked at <a class="goto-social">Amazon Music, Mercado Bitcoin, My Mixtapez</a> and more.
								<br>
								Dealing with 5M+ users each, over 20M total. <a class="goto-social">Seeking bigger challenges everyday.</a>
							</p>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								<a class="goto-social">Product mind, data oriented, articulate, proactive, hard-worker and effective communicator.</a>
								<br>
								Learning and developing unknown skills everyday. Polyglot 🇮🇹🇧🇷🇺🇸🇪🇸
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								I'm sorry, my full <a class="goto-social">Portfolio</a> can not be public due to NDAs, but here you can find some of my past work.
								<br>
								You can find more about me on <a class="goto-social" href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a>.
							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/signature.png" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>What I do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-magic-wand"></span>
									<span class="key-fact">
									Work my Magic		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-rocket"></span>
									<span class="key-fact">
									New Products		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-umbrella"></span>
									<span class="key-fact">
									Portfolio Management		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-graph3"></span>
									<span class="key-fact">
									Generate Revenue
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>

						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Career</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
							</div>
							<div class="client-carousel">
								<img src="img/client6.png" alt="client">
								<img src="img/client7.png" alt="client">
								<img src="img/client8.png" alt="client">
								<img src="img/client9.png" alt="client">
								<img src="img/client10.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">• <a class="goto-social">Strong performance</a> in <a class="goto-social">highly complex</a> projects and <a class="goto-social">multidisciplinary</a> teams.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Experience <a class="goto-social">coordinating entire Product structures</a>, managing both <a class="goto-social">international</a> and regional teams.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• <a class="goto-social">Data</a> Focused, <a class="goto-social">Innovation</a> freak, <a class="goto-social">Customer</a> lover and <a class="goto-social">Growth</a> hacker.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Consolidated knowledge in <a class="goto-social">Product Strategy, Portfolio</a> and <a class="goto-social">Tech Development.</a></p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Construction of <a class="goto-social">frameworks</a> and guidelines for <a class="goto-social">integration, development and partnership.</a></p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• <a class="goto-social">10+ years of experience</a> in developing <a class="goto-social">CX</a> and <a class="goto-social">UX</a> strategies.</p>
							<br><br>
							<br>
							<!--
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Design Thinking</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
												<strong><i>100</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Photoshop</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Design</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AfterEffects</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Management</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Agile & Scrum</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="98">
													<strong><i>98</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							-->
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>Education</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Brazilian <a class="goto-social">Design Bachelor</a> and Italian <a class="goto-social">Art Direction Master</a> (IED) degrees. Adobe, Google and Crypto Blockchain <a class="goto-social">Certified</a>.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Istituto Europeo di Design, Rome, Italy</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Art Direction in Design and Visual Comunication
										<br>
										(Master's Degree)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2013</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Senac University, Goiânia, Brazil</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Design
										<br>
										(Bachelor's Degree)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2021</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Academy, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Crypto Investments
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2021</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Academy, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Blockchain Architecture
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2020</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Council, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Certified Cryptocurrency Expert
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe AfterEffects CC
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>4</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe Photoshop CC
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>5</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Google, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Google Web Developer
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>6</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Analytics Developer
										<br>
										(Certification)
										</span>
									</div>
								</div>
							</div>
						</section>
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>Work experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Aug 2023 - Mar 2024</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Operations Manager</span>
													<span class="job-loc">DB1 Global Software, International - Hybrid
													</span>
													<p class="job-summary p-small">Portfolio management of end-to-end SaaS products. Managing large scale multidisciplinary teams. Reporting directly to Holding Board members. International growth and expansion strategies. Accountable for over 80 employees, having 9 directs.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Apr 2022 - Mai 2023</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Product Manager (L7)</span>
													<span class="job-loc">Amazon Music, International - Remote
													</span>
													<p class="job-summary p-small">Accountable for both Visual (Amazon Music App) and Voice (Alexa) within Amazon Entertainment LATAM. Market growth strategies with local Fandomns, Customer engagement with new Social driven features, contantly improving Amazon Music listening experience.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Mar 2020 - Apr 2022</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Lead Product Manager</span>
													<span class="job-loc">Mercado Bitcoin, São Paulo - Remote
													</span>
													<p class="job-summary p-small">Focused on market expansion, grew from 2M customers to 6M in 2 years. Porfolio management of Cryptocurrency and Digital Assets Trade in-house built Platforms. Named the biggest Cryptocurrency Exchange of Southern America from 2019. Accountable for product outcome, international partnerships, concieve traditional assets into blockchain token-based assets, pluging into new assets blockchains and opening orderbooks. Accountable for 10 multidiciplinary teams (over 100 team members) with 8 directs.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Oct 2019 - Apr 2020</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Product Manager</span>
													<span class="job-loc">Opah IT Consulting, São Paulo - Hybrid
													</span>
													<p class="job-summary p-small">Serving big tech companies based in São Paulo like CVC Copr, Webmotors, Livelo, Crefisa and Banco Original. Closing new deals and concieving new products from scratch. Accountable for over 4 multidisciplinary teams (30+ directs).</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Mar 2019 – Oct 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Co-founder, Lead Product Manager
													</span>
													<span class="job-loc">Bloov Tecnologia SA, São Paulo
													</span>
													<p class="job-summary p-small">Co-founder and Lead Product Manager. Started from the ground up, one of the biggest challenges I've ever encountered. Team built of great players that came from huge companies, an opportunity to build a great product. An opportunity to explore new techniques and take a deep dive on benchmark, research and development.
													<br>
													Built a company Culture, a great team to work with (40+ team members, 8 directs), great synergy from start. Applying methods that really improved workflow and delivered amazing sprints accomplishments. Prove each new feature solid with hypotesis validation.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.8s">
												<div class="col-sm-3 duration"><span>Sep 2018 – Feb 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Partner, Product Marketing Manager
													</span>
													<span class="job-loc">REIKO Power Expert, São Paulo
													</span>
													<p class="job-summary p-small">Partner and Product Marketing Manager. Working with Automotive ECU flashing, delivering Performance gains. Had the opportunity to explore new ways of reaching our franchisees with new communication and strategies for selling our product. 
														<br>
														Living on doing it, with all the technical aspects on the process demanded a huge amount of patience and empathy dealing with all of our franchise members.
														<br>
														After a little over six months I've decided to take a different route and rejoin my main focus, working with Digital Products. Was a great moment to work with cars, but I understood that hobbies are meant for good moments, and they are great as long as they stay as hobbies.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1s">
												<div class="col-sm-3 duration"><span>Apr 2016 – Sep 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Platform Product Manager
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Hybrid
													</span>
													<p class="job-summary p-small">Built from the ground up all the structure that became the Commercial Platform. Worked close to all company stakeholders. Drove our product team and really made the platform happen. At the time our main concern was to integrate with big players in the US Music Industry like Warner Music, Sony Music, Spotify and Pandora, distributing new content through our service to all of them, making music distribution way easier and faster.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.2s">
												<div class="col-sm-3 duration"><span>Apr 2015 – Sep 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Creative Art Director
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Hybrid
													</span>
													<p class="job-summary p-small">
													Concept and develop visual content for our artists marketing in our streaming platform. Having an extremely capable team and being able to work close to big names such as Lil Wayne, Drake, Lil Uzi, Post Malone, 21 Savage, Meek Mill, Timbaland and more. From IG post images to full blown videoclips, audio and video mastering, merchandise and artworks, we did it all in-house.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.4s">
												<div class="col-sm-3 duration"><span>Jan 2015 – Apr 2016</span></div>
												<div class="col-sm-9">
													<span class="job-desn">iOS UI/UX Designer
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Hybrid
													</span>
													<p class="job-summary p-small">
													Where I started at, developing from scratch an all new UI for the whole app. This was a big challenge at a time where skeuomorphism gave its place to flat, guidelines were still not there yet.
													<br>
													UI/UX were general terms with no real base to prove user behavior. Mobile OSs were still being developed, going through big changes every update.
													<br>
													First started making concepts, new features, writing requirements for them and designing new products.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.6s">
												<div class="col-sm-3 duration"><span>Jun 2014 – Apr 2015</span></div>
												<div class="col-sm-9">
													<span class="job-desn">UI/UX Designer
													</span>
													<span class="job-loc">PrimeSoftware, Goiânia
													</span>
													<p class="job-summary p-small">Building POS and Pharmaceutical software was a great way of starting a new path, coming from Visual Identity and Publicity to User Interface on both Desktop and Mobile. I've designed, developed and managed websites, created concepts for new features and services for our platform.
													<br>
													At the time, terms like UI, UX, Product Management, Product Owner, Product Designer were not talked. The mobile smartphone industry packing Android and iOS were still growing up. Guidelines and good practices weren't spoken yet.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>Past work</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item" data-src="https://www.youtube.com/watch?v=sCbiVa4n1tw" data-poster="img/mock1.jpg" data-sub-html="<h6>MyMixtapez App Promo 2018</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock1.jpg"  alt="MyMixtapez App Promo 2018" />
										<span class="hover-cap">MyMixtapez App Promo 2018</span>
										</a>
									</li>
									<li class="item" data-src="https://www.youtube.com/watch?v=nTUsAN65JFU" data-poster="img/mock2.jpg" data-sub-html="<h6>MyMixtapez Artists Content</h6><p>A few videos and promotional content done for Artists during the period I've worked for MyMixtapez Inc.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock2.jpg"  alt="MyMixtapez Artists Content" />
										<span class="hover-cap">MyMixtapez Artists Content</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=lABXU0WMYg8" data-poster="img/mock3.jpg" data-sub-html="<h6>SXSW 2019 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2019 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="SXSW 2019 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2019 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=5T-ojmSZIl8" data-poster="img/mock6.jpg" data-sub-html="<h6>SXSW 2018 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2018 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="SXSW 2018 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2018 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=2sxhjfDdcvo" data-poster="img/mock5.jpg" data-sub-html="<h6>A3C 2017 MyMixtapez Recap</h6><p>Recap video for one of our events on A3C 2017 at Austin,TX.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="A3C 2017 MyMixtapez Recap" />
										<span class="hover-cap">A3C 2017 MyMixtapez Recap</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=rL62v_c2xTc" data-poster="img/mock4.jpg" data-sub-html="<h6>MyMixtapez App Promo 2016</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="MyMixtapez App Promo 2016" />
										<span class="hover-cap">MyMixtapez App Promo 2016</span>
										</a>
									</li>
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="apppromo">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
								<div style="display:none;" id="artistscont">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>

						
						<!--Achivement Sec
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>conquistas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Descrição</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
												<span class="dash-pointer">-</span>
												<span class="achive-pts">Primeira</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Segunda</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Terceira</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Quarta</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Quinta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">Sexta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Setima</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Oitava</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
						/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>Contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								Need a Product Specialist?
									<br>
								<h3>Get in touch!</h3>
								<!--
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								-->
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Send me an email at <a href="mailto:mrgabamo@gmail.com">mrgabamo@gmail.com</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">send me a message through <a href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">or fire me a text on <a href="https://api.whatsapp.com/send?phone=5562981001020" target="_blank">WhatsApp</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Open to big projects.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="http://facebook.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="http://flickr.com/photos/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="http://instagram.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="go to top">
										go to top
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Developed by <b>Gabriel Amorim &copy; 2019.</b> Updated in <b>2024.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
