<!DOCTYPE html>
<html lang="en" class="no-js" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Gabriel Amorim | Curriculum</title>
		<meta name="description" content="Aqui você encontra um pouco mais sobre mim." />
		<meta name="keywords" content="Gabriel Amorim - Product Director / Lead Product Manager / GPM / Senior Product Manager / Art Director" />
		<meta name="author" content="Gabriel Amorim"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!--Insert OG Markup -->
		<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
		<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Gabriel Amorim | Resume" />
		<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Here you can find a bit more about me." />
		<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.mrgabamo.com/img/thumbnail.png" />
		<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://www.mrgabamo.com" />

		<!--Insert Twitter Card Markup -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@mrgabamo" />
		<meta name="twitter:domain" content="https://www.mrgabamo.com" />
		<meta name="twitter:title" content="Gabriel Amorim | Resume" />
		<meta name="twitter:description" content="Here you can find a bit more about me." />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>sobre mim</span></li>
								<li><a data-scroll href="#services_sec"></a><span>meu trabalho</span></li>
								<li><a data-scroll href="#client_sec"></a><span>carreira</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>educação</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>experiência</span></li>
								<li><a data-scroll href="#work_sec"></a><span>galeria</span></li>
								<!--<li><a data-scroll href="#achivement_sec"></a><span>achievements</span></li>-->
								<li><a data-scroll href="#contact_sec"></a><span>contato</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								GABRIEL AMORIM
								</span>
								</a>	
							</div>
							<div class="float-right social-download-wrap">
								<a href="./download/Gabriel-CV-2024.pdf" class="btn btn-default float-right" target="_blank">
								<span class="mask"></span>
								<span class="btn-label">
								<b>baixar cv</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
							<div class="float-right">
								<span>&nbsp&nbsp&nbsp</span>
							</div>
							<div class="float-right social-lang-wrap">
								<a href="./index.html" class="btn btn-default float-right" target="_self">
								<span class="mask"></span>
								<span class="btn-label">
								<b>switch to en-us</b>
								<span class="icon pe-7s-world"></span>
								</span>
								</a>
							</div>
						</div>	
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								<span id="typed"></span>
							</h1>
							<h6>
								Sobre mim
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								<a class="goto-social">Mais de 10 anos de experiência em Produto, Gestão de Portfólio, Estratégia de Mercado, Marketing e Growth.</a>
								<br>
								Guru do Entretenimento. Vasto conhecimento em KYC, Fraude e Segurança Empresarial. Especialista em lançamento de produtos Crypto.
							</p>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Trabalhei na <a class="goto-social">Amazon Music, Mercado Bitcoin, My Mixtapez</a> e outros produtos.
								<br>
								Lidando com mais de 5 milhões de usuários em cada, mais de 20 milhões no total. <a class="goto-social">Buscando desafios maiores todos os dias.</a>
							</p>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								<a class="goto-social">Mente produteira, orientado a dados, articulado, proativo, dedicado e comunicador eficaz.</a>
								<br>
								Aprendendo e desenvolvendo habilidades novas todos os dias. Poliglota 🇮🇹🇧🇷🇺🇸🇪🇸
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Sinto muito, meu <a class="goto-social">Portfolio</a> completo não pode ser público devido a NDAs, mas aqui você pode encontrar alguns dos meus trabalhos anteriores.
								<br>
								Você pode encontrar mais sobre mim no <a class="goto-social" href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a>.
							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/signature.png" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Meu Trabalho</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" style="text-align: center;" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-magic-wand"></span>
									<br>
									<span class="key-fact">
									Fazer Magia		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" style="text-align: center;" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-rocket"></span>
									<br>
									<span class="key-fact">
									Novos Produtos		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" style="text-align: center;" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-umbrella"></span>
									<br>
									<span class="key-fact">
									Gestão de Portfolio		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" style="text-align: center;" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-graph3"></span>
									<br>
									<span class="key-fact">
									Gerar Receita
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>

						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Carreira</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
							</div>
							<div class="client-carousel">
								<img src="img/client6.png" alt="client">
								<img src="img/client7.png" alt="client">
								<img src="img/client8.png" alt="client">
								<img src="img/client9.png" alt="client">
								<img src="img/client10.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">• <a class="goto-social">Performance</a> em projetos de <a class="goto-social">alta complexidade</a> e <a class="goto-social">times multidisciplinares</a>.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Experiência <a class="goto-social">coordenando estruturas de Produto</a>, fazendo gestão de times <a class="goto-social">internacionais</a> e nacionais.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Orientado a <a class="goto-social">Dados</a>, louco da <a class="goto-social">Inovação</a>, apaixonado pelo <a class="goto-social">Consumidor</a> e <a class="goto-social">Growth</a> hacker.</p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Conhecimento consolidado em <a class="goto-social">Estratégias de Produto, Portfolio</a> e <a class="goto-social">Desenvolvimento de Tecnologias.</a></p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• Construção de <a class="goto-social">frameworks</a> e guidelines para <a class="goto-social">integração, desenvolvimento e parcerias.</a></p>
							<br><br>
							<p class="wow fadeInUp" data-wow-duration=".4s">• <a class="goto-social">Mais de 10 anos de experiência</a> desenvolvendo estratégias de <a class="goto-social">CX</a> e <a class="goto-social">UX</a>.</p>
							<br><br>
							<br>
							<!--
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Design Thinking</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
												<strong><i>100</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Photoshop</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Design</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AfterEffects</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Management</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Agile & Scrum</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="98">
													<strong><i>98</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							-->
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>Educação</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								<a class="goto-social">Bacharel em Design</a> no Brasil e <a class="goto-social">Mestre em Direção de Arte</a> na Itália (IED). <a class="goto-social">Certificações</a> Adobe, Google e Crypto Blockchain.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Istituto Europeo di Design, Roma, Itália</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Art Direction in Design and Visual Comunication
										<br>
										(Mestrado)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2013</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Universidade Senac, Goiânia, Brasil</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Design
										<br>
										(Bacharelado)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2021</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Academy, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Crypto Investments
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2021</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Academy, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Blockchain Architecture
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2020</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Blockchain Council, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Certified Cryptocurrency Expert
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe AfterEffects CC
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>4</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe Photoshop CC
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>5</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Google, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Google Web Developer
										<br>
										(Certificação)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>6</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Analytics Developer
										<br>
										(Certificação)
										</span>
									</div>
								</div>
							</div>
						</section>
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>Experiência de Trabalho</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Ago 2023 - Mar 2024</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Operations Manager</span>
													<span class="job-loc">DB1 Global Software, Internacional - Híbrido
													</span>
													<p class="job-summary p-small">Gerenciamento de portfólio de produtos SaaS ponta a ponta. Gestão de equipes multidisciplinares de grande porte. Reporte direto aos conselheiros da Holding. Estratégias de crescimento e expansão internacional. Responsável por mais de 80 funcionários, tendo 9 diretos.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Abr 2022 - Mai 2023</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Product Manager (L7)</span>
													<span class="job-loc">Amazon Music, Internacional - Remoto
													</span>
													<p class="job-summary p-small">Responsável pela experiência Visual (Amazon Music App) e de Voz (Alexa) dentro da Amazon Entertainment LATAM. Estratégias de expansão de mercado com Fandomns locais, engajamento do cliente com novos recursos sociais, melhorando constantemente a experiência de streaming do Amazon Music.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Mar 2020 - Abr 2022</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Lead Product Manager</span>
													<span class="job-loc">Mercado Bitcoin, São Paulo - Remoto
													</span>
													<p class="job-summary p-small">Focado na expansão de mercado, passamos de 2 milhões de clientes para 6 milhões em 2 anos. Gestão de portfólio de plataformas construídas internamente para negociação de criptomoedas e ativos digitais. Nomeada a maior bolsa de criptomoedas da América do Sul em 2019. Responsável pelo resultado do produto, parcerias internacionais, conversão de ativos tradicionais em ativos baseados em tokens de blockchain, conectando a novos blockchains de ativos e abrindo livros de negociação. Responsável por 10 equipes multidisciplinares (mais de 100 integrantes) com 8 diretos.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Oct 2019 - Apr 2020</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Product Manager</span>
													<span class="job-loc">Opah IT Consulting, São Paulo - Híbrido
													</span>
													<p class="job-summary p-small">Atendendo grandes empresas de tecnologia sediadas em São Paulo como CVC Corp, Webmotors, Livelo, Crefisa e Banco Original. Fechando novos negócios e concebendo novos produtos do zero. Responsável por mais de 4 equipes multidisciplinares (30+ diretos).</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Mar 2019 – Out 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Co-fundador, Lead Product Manager
													</span>
													<span class="job-loc">Bloov Tecnologia SA, São Paulo
													</span>
													<p class="job-summary p-small">Cofundador e Gerente Líder de Produto. Comecei do zero, um dos maiores desafios que já encontrei. Equipe formada por grandes jogadores vindos de grandes empresas, uma oportunidade de construir um ótimo produto. Uma oportunidade para explorar novas técnicas e mergulhar profundamente em benchmark, pesquisa e desenvolvimento.
													<br>
													Construí uma cultura empresarial, uma ótima equipe para trabalhar (mais de 40 membros, 8 diretos), ótima sinergia desde o início. Aplicar métodos que realmente melhoraram o fluxo de trabalho e proporcionaram realizações incríveis em sprints. Prove cada novo recurso sólido com validação de hipótese.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.8s">
												<div class="col-sm-3 duration"><span>Set 2018 – Fev 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Partner, Product Marketing Manager
													</span>
													<span class="job-loc">REIKO Power Expert, São Paulo
													</span>
													<p class="job-summary p-small">Sócio e Gerente de Marketing de Produtos. Trabalhando no mercado de reprogramação de ECUs Automotivas, proporcionando ganhos de Performance. Tive a oportunidade de explorar novas formas de alcançar nossos franqueados com novas comunicações e estratégias de venda de nosso produto.
														<br>
														Viver fazendo isso, com todos os aspectos técnicos do processo, exigiu muita paciência e empatia no trato com todos os nossos franqueados.
														<br>
														Depois de pouco mais de seis meses decidi seguir um caminho diferente e voltar ao meu foco principal, trabalhar com Produtos Digitais. Foi um ótimo momento para trabalhar com carros, mas entendi que hobbies são feitos para proporcionar bons momentos, e são ótimos desde que permaneçam como hobbies.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1s">
												<div class="col-sm-3 duration"><span>Abr 2016 – Set 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Platform Product Manager
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Híbrido
													</span>
													<p class="job-summary p-small">Construímos do zero toda a estrutura que se tornou a Plataforma Comercial. Trabalhei próximo a todos os stakeholders da empresa. Dirigi nossa equipe de produto e realmente fiz a plataforma acontecer. Na época nossa principal preocupação era nos integrarmos com grandes players da indústria musical dos EUA como Warner Music, Sony Music, Spotify e Pandora, distribuindo novos conteúdos através do nosso serviço para todos eles, tornando a distribuição de música muito mais fácil e rápida.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.2s">
												<div class="col-sm-3 duration"><span>Abr 2015 – Set 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Creative Art Director
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Híbrido
													</span>
													<p class="job-summary p-small">
													Conceituar e desenvolver conteúdo visual para marketing de nossos artistas em nossa plataforma de streaming. Ter uma equipe extremamente capacitada e poder trabalhar próximo a grandes nomes como Lil Wayne, Drake, Lil Uzi, Post Malone, 21 Savage, Meek Mill, Timbaland e muito mais. Desde imagens postadas no IG até videoclipes completos, masterização de áudio e vídeo, mercadorias e obras de arte, fizemos tudo internamente.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.4s">
												<div class="col-sm-3 duration"><span>Jan 2015 – Abr 2016</span></div>
												<div class="col-sm-9">
													<span class="job-desn">iOS UI/UX Designer
													</span>
													<span class="job-loc">MyMixtapez Inc, Homestead, US - Híbrido
													</span>
													<p class="job-summary p-small">
													Onde comecei, desenvolvendo do zero uma UI totalmente nova para todo o aplicativo. Este foi um grande desafio numa época em que o skeuomorfismo deu lugar ao plano e as diretrizes ainda não existiam.
													<br>
													UI/UX eram termos gerais sem base real para provar o comportamento do usuário. Os sistemas operacionais móveis ainda estavam em desenvolvimento, passando por grandes mudanças a cada atualização.
													<br>
													Comecei a criar conceitos, novos recursos, escrever requisitos para eles e projetar novos produtos.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.6s">
												<div class="col-sm-3 duration"><span>Jun 2014 – Apr 2015</span></div>
												<div class="col-sm-9">
													<span class="job-desn">UI/UX Designer
													</span>
													<span class="job-loc">PrimeSoftware, Goiânia
													</span>
													<p class="job-summary p-small">Construir softwares POS e farmacêuticos foi uma ótima maneira de iniciar um novo caminho, migrando de identidade visual e publicidade para interfaces digitais, tanto na web quanto no mobile. Aqui projetei, desenvolvi e gerenciei sites, criei conceitos para novas features e serviços para a empresa.
													<br>
													Na época, termos como interface do usuário, UX, gerenciamento de produtos, Product Owner, Product Deisgner não eram práticas de mercado. A indústria de smartphones Android e o iOS ainda estava saindo do embrionário e inicando a ter escala. Diretrizes e boas práticas ainda não eram veiculadas.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>Galeria</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item" data-src="https://www.youtube.com/watch?v=sCbiVa4n1tw" data-poster="img/mock1.jpg" data-sub-html="<h6>MyMixtapez App Promo 2018</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock1.jpg"  alt="MyMixtapez App Promo 2018" />
										<span class="hover-cap">MyMixtapez App Promo 2018</span>
										</a>
									</li>
									<li class="item" data-src="https://www.youtube.com/watch?v=nTUsAN65JFU" data-poster="img/mock2.jpg" data-sub-html="<h6>MyMixtapez Artists Content</h6><p>A few videos and promotional content done for Artists during the period I've worked for MyMixtapez Inc.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock2.jpg"  alt="MyMixtapez Artists Content" />
										<span class="hover-cap">MyMixtapez Artists Content</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=lABXU0WMYg8" data-poster="img/mock3.jpg" data-sub-html="<h6>SXSW 2019 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2019 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="SXSW 2019 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2019 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=5T-ojmSZIl8" data-poster="img/mock6.jpg" data-sub-html="<h6>SXSW 2018 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2018 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="SXSW 2018 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2018 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=2sxhjfDdcvo" data-poster="img/mock5.jpg" data-sub-html="<h6>A3C 2017 MyMixtapez Recap</h6><p>Recap video for one of our events on A3C 2017 at Austin,TX.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="A3C 2017 MyMixtapez Recap" />
										<span class="hover-cap">A3C 2017 MyMixtapez Recap</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=rL62v_c2xTc" data-poster="img/mock4.jpg" data-sub-html="<h6>MyMixtapez App Promo 2016</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="MyMixtapez App Promo 2016" />
										<span class="hover-cap">MyMixtapez App Promo 2016</span>
										</a>
									</li>
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="apppromo">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Seu navegador não suporta vídeos HTML5.
									</video>
								</div>
								<div style="display:none;" id="artistscont">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Seu navegador não suporta vídeos HTML5.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>

						
						<!--Achivement Sec
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>conquistas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Descrição</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
												<span class="dash-pointer">-</span>
												<span class="achive-pts">Primeira</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Segunda</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Terceira</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Quarta</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Quinta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">Sexta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Setima</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Oitava</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
						/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>Contato</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								Precisa de um Especialista de Produtos?
									<br>
								<h3>Entre em contato!</h3>
								<!--
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								-->
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Mande um email para <a href="mailto:mrgabamo@gmail.com">mrgabamo@gmail.com</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">mande uma mensagem pelo <a href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">ou fale comigo pelo <a href="https://api.whatsapp.com/send?phone=5562981001020" target="_blank">WhatsApp</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Aberto para grandes projetos.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="http://linkedin.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf08c;">&#xf08c;</span>
												</a>
											</li>
											<li>
												<a href="http://open.spotify.com/user/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf1bc;">&#xf1bc;</span>
												</a>
											</li>
											<li>
												<a href="http://youtube.com/photos/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16a;">&#xf16a;</span>
												</a>
											</li>
											<li>
												<a href="http://instagram.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="go to top">
										ir para o topo
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Desenvolvido por <b>Gabriel Amorim &copy; 2019.</b> Atualizado em <b>2024.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
