<!DOCTYPE html>
<html lang="pt" class="no-js" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Gabriel Amorim | Sobre mim</title>
		<meta name="description" content="Aqui você encontra meu curriculum e um pouco sobre mim" />
		<meta name="keywords" content="Gabriel Amorim - Product Manager / Mercado Bitcoin / Gerente de Projetos / Art Director / Product Designer / PM / PO / GP / SM / Tecnologia / Desenvolvimento / TI / Mobile / UI / UX / User Interface / User Experience / Digital / Media / Content / Bloov / CVC / Webmotors / Crefisa / Opah / REIKO / MyMixtapez / PrimeSoftware / Zarpar" />
		<meta name="author" content="Hencework"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!--Insert OG Markup -->
		<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
		<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Gabriel Amorim | Sobre mim" />
		<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Aqui você encontra meu curriculum e um pouco sobre mim." />
		<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://www.mrgabamo.com/img/thumbnail.png" />
		<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://www.mrgabamo.com" />

		<!--Insert Twitter Card Markup -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@mrgabamo" />
		<meta name="twitter:domain" content="https://www.mrgabamo.com" />
		<meta name="twitter:title" content="Gabriel Amorim | Sobre mim" />
		<meta name="twitter:description" content="Aqui você encontra meu curriculum e um pouco sobre mim." />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>sobre</span></li>
								<li><a data-scroll href="#services_sec"></a><span>qualidades</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>trabalho</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>formação</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>experiência</span></li>
								<li><a data-scroll href="#client_sec"></a><span>clientes</span></li>
								<!--<li><a data-scroll href="#achivement_sec"></a><span>conquistas</span></li>-->
								<li><a data-scroll href="#contact_sec"></a><span>contato</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								GABRIEL AMORIM
								</span>
								</a>	
							</div>
							<div class="float-right social-download-wrap">
								<a href="./download/curriculum_gabriel_amorim.pdf" class="btn btn-default float-right" target="_blank">
								<span class="mask"></span>
								<span class="btn-label">
								<b>baixar curriculum</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
							<div class="float-right social-download-wrap">
								<span>&nbsp&nbsp</span>
							</div>
							<div class="float-right social-download-wrap">
								<a href="./index.html" class="btn btn-default float-left" target="_self">
								<span class="mask"></span>
								<span class="btn-label">
								<b>switch to en</b>
								</span>
								</a>
							</div>
						</div>	
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								<span id="typed"></span>
							</h1>
							<h6>
								sobre
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								 Gerente de Produtos por coração, Gerente de Projetos, Diretor de Criação experiente, Designer de Produtos inovador, Designer apaixonado, autodidata, proativo, comunicador efetivo. Pessoa criativa e ambiciosa que ao longo de sua carreira como Designer e Diretor de Arte em vários projetos de TI e diferentes tipos de conteúdo para empresas americanas, logrou êxito em seus desafios acadêmicos e busca conhecimento continuamente, desenvolveu habilidades desconhecidas e procura grandes desafios todos os dias.
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Desculpe mas meu <a class="goto-social">Portfólio</a> completo não pode ser público no momento, aqui você encontra alguns de meus trabalhos. <br> Você pode encontrar um pouco sobre mim no <a class="goto-social" href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a> e <a href="https://dribbble.com/mrgabamo" class="goto-social" target="_blank">Dribbble</a>.
							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/signature.png" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>o que faço</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-magic-wand"></span>
									<span class="key-fact">
									MÁGICA		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-monitor"></span>
									<span class="key-fact">
									PRODUTO		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-users"></span>
									<span class="key-fact">
									GESTÃO		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
									DESENVOLVIMENTO
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>skills técnicas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Como um bom solucionador de problemas, ao longo de minha carreira sempre busquei traçar novos caminhos e explorar ao máximo minha criatividade. Aprendi e desenvolvi diversas técnicas, utilizei e aprimorei meu conhecimento em vários softwares e entendi a necessidade da organização e gestão através de metodologias que funcionam. Hoje busco aprender cada vez mais e tento aplicar tudo o que aprendi em meu dia a dia.
							<br><br>
							Photoshop e AfterEffects foram meus principais aliados durante anos. Utilizei também Sketch, Adobe XD e posteriormente Figma durante todo o período em que trabalhei com desenvolvimento de interfaces, sendo o Figma ainda hoje minha ferramenta principal para desenvolver conceitos e transmitir para a equipe a necessidade do cliente.</p>
							<br><br>
							Metodologias ágeis e abordagens como Design Thinking fazem parte da minha rotina, mantendo meu workflow organizado e garantindo as entregas dentro do produto.
							<br><br>
							<br>
							<!--
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Design Thinking</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
												<strong><i>100</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Photoshop</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Design</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
												<strong><i>98</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AfterEffects</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Product Management</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Agile & Scrum</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="98">
													<strong><i>98</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							-->
						</section>
						<!--/Skills Sec-->
					
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>trabalhos</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item" data-src="https://www.youtube.com/watch?v=sCbiVa4n1tw" data-poster="img/mock1.jpg" data-sub-html="<h6>MyMixtapez App Promo 2018</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock1.jpg"  alt="MyMixtapez App Promo 2018" />
										<span class="hover-cap">MyMixtapez App Promo 2018</span>
										</a>
									</li>
									<li class="item" data-src="https://www.youtube.com/watch?v=nTUsAN65JFU" data-poster="img/mock2.jpg" data-sub-html="<h6>MyMixtapez Artists Content</h6><p>A few videos and promotional content done for Artists during the period I've worked for MyMixtapez Inc.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock2.jpg"  alt="MyMixtapez Artists Content" />
										<span class="hover-cap">MyMixtapez Artists Content</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=lABXU0WMYg8" data-poster="img/mock3.jpg" data-sub-html="<h6>SXSW 2019 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2019 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="SXSW 2019 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2019 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=5T-ojmSZIl8" data-poster="img/mock6.jpg" data-sub-html="<h6>SXSW 2018 MyMixtapez Teaser</h6><p>Teaser video for one of our events on SXSW 2018 at Atlanta,GA.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="SXSW 2018 MyMixtapez Teaser" />
										<span class="hover-cap">SXSW 2018 MyMixtapez Teaser</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=2sxhjfDdcvo" data-poster="img/mock5.jpg" data-sub-html="<h6>A3C 2017 MyMixtapez Recap</h6><p>Recap video for one of our events on A3C 2017 at Austin,TX.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="A3C 2017 MyMixtapez Recap" />
										<span class="hover-cap">A3C 2017 MyMixtapez Recap</span>
										</a>
									</li>
									<li  class="item" data-src="https://www.youtube.com/watch?v=rL62v_c2xTc" data-poster="img/mock4.jpg" data-sub-html="<h6>MyMixtapez App Promo 2016</h6><p>One of the App Promo videos I did for MyMixtapez App during the period I've worked there.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="MyMixtapez App Promo 2016" />
										<span class="hover-cap">MyMixtapez App Promo 2016</span>
										</a>
									</li>
								<!--

									<li class="item" data-src="img/mock4.jpg" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">UX PLATFORM</span>
										</a>
									</li>
									<li class="item" data-src="http://vimeo.com/1084537" data-poster="img/mock3.jpg" data-sub-html="<h6>MONOBRANDING</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">MONOBRANDING</span>
										</a>
									</li>
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="Image description" />	
										<span class="hover-cap">FALL/WINTER</span>
										</a>
									</li>
									<li class="item" data-html="#video1" data-poster="img/mock6.jpg" data-sub-html="<h6>FANTASTIC MAN</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="Image description" />
										<span class="hover-cap">FANTASTIC MAN</span>
										</a>
									</li>
								-->
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="apppromo">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
								<div style="display:none;" id="artistscont">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>formação</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Passei 3 anos aprendendo sobre Design e após receber meu diploma de Designer Gráfico decidi que queria continuar estudando, onde iniciei meu Mestrado em Direção de Arte voltado para Marketing.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2013-2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Istituto Europeo di Design, Roma</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Art Direction in Advertising
										<br>
										(Master degree)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2010-2013</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Universidade SENAC, Goiânia</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Design
										<br>
										(Bachelor degree)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe AfterEffects CC
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>4</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2015</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Adobe Photoshop CC
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>5</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Google, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Google Web Developer
										<br>
										(Certification)
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>6</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2014</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Adobe, Online</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Analytics Developer
										<br>
										(Certification)
										</span>
									</div>
								</div>
							</div>
						</section>
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experiência de trabalho</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Abr 2020 - Presente</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Senior Product Manager</span>
													<span class="job-loc">Mercado Bitcoin, São Paulo
													</span>
													<p class="job-summary p-small">Como Product Manager no Mercado Bitcoin meu foco principal é explorar e aprimorar nosso principal produto, nossa plataforma de Trade de Criptomoedas e Digital Assets. Tendo a oportunidade de ingresssar em projeto grande como este, na maior Exchange de Criptomoedas da América Latina, a oportunidade de compartilhar conhecimento e aprender mais sobre o mundo dos Criptoativos para construir um ótimo produto é algo que alegra todos os dias. Responsável por maximizar o valor resultante do produto desenvolvido, minha principal responsabilidade é aprimorar e evoluir nossa atual plataforma, além de garantir o entendimento claro de todas as necessidades do requisitante para todos do time.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Out 2019 - Abr 2020</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Product Manager</span>
													<span class="job-loc">Opah IT Consulting, São Paulo
													</span>
													<p class="job-summary p-small">Como parte da minha jornada na Opah, trabalho próximo à grandes clientes como CVC Corp, Crefisa, Webmotors, entre outros. Formo e coordeno times para garantir o máximo de performance, provendo objetivo, direcionamento e motivação. Lidero projetos desde a definição de requisitos até a entrega, definindo cronogramas, escopo, financeiro e planos de implementação, incluindo análise de riscos. Coordeno recursos internos e externos, garanto foco no escopo do projeto, cronograma e orçamento definido, junto aos gestores de vários departamentos. Supervisiono e analiso o progresso do projeto e, quando necessário, adaptar o escopo, cronograma de entregas e custos para garantir que a realidade bata com os requisitos. Estabeleço e mantenho relacionamento com o cliente e partes interessadas, através de contato diário com o andamento do projeto e suas mudanças.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Out 2019 — Mar 2020</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Product Delivery Manager</span>
													<span class="job-loc">CVC Corp, São Paulo
													</span>
													<p class="job-summary p-small">Responsável por maximizar o valor resultante do produto desenvolvido, minha principal responsabilidade foi gerenciar o Product Backlog, além de garantir o entendimento claro de todas as necessidades do requisitante. Asseguro a integridade conceitual das funcionalidades, indico bugs e melhorias a serem feitas e a entrega final do projeto ou produto, atestando sua qualidade.
													<br>
													No âmbito das minhas atividades ressalto a análise de requisitos, sejam eles funcionais, não-funcionais, de usuários, dos clientes e análise de negócios, incluindo a especificação, análise de sistemas e especificações funcionais para o desenvolvimento de softwares. Além disso, importante mencionar o desenvolvimento dos mapas de processos de negócio que possibilitam a identificação e monitoramento de riscos de TI, bem como o acompanhamento do desempenho de processos, controlando, otimizando e verificando se cumprem os padrões necessários para a realização dos projetos. Por fim, documento os processos, relatando possíveis falhas para a realização de ações preventivas nas próximas etapas e treinando equipes de TI para garantir a qualidade.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Mar 2019 – Out 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Associate Product Manager
													</span>
													<span class="job-loc">Bloov Tecnologia SA, São Paulo
													</span>
													<p class="job-summary p-small">Como Product Manager na Bloov meu foco principal sempre foi criar o melhor produto possível dentro das minhas habilidades. Tendo a oportunidade de começar esse projeto do zero, este sem dúvidas foi um dos maiores desafios que eu já encontrei. Fazer parte de um time composto por ótimos colaboradores que vieram de grandes corporações como Daniel Benevides (fundador do Banco NEON), por exemplo, a oportunidade de compartilhar conhecimento e construir um ótimo produto é algo que nunca vou me esquecer.
													<br>
													Na Bloov tive a oportunidade de explorar novas técnicas e mergulhar fundo em pesquisas, benchmark de mercado e desenvolvimento, para provar sólida e completa cada nova feature feita. Trabalhando com um ótimo time, o grande foco estava no desenvolvimento da melhor interação entre o usuário e a nossa plataforma, fazendo a ponte entre Front-End e Back-End, participando do processo de concepção e acompanhando cada novo passo dentro do nosso backlog. Métricas e indicadores de sucesso eram sólidos, cada nova feature deveria atender todas as nossas necessidades, provando que elas não eram apenas esteticamente bonitas, mas que funcionavam como deveriam, entregando os resultados esperados por nós.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.8s">
												<div class="col-sm-3 duration"><span>Set 2018 – Fev 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Associate Product Marketing Manager
													</span>
													<span class="job-loc">REIKO Power Expert, São Paulo
													</span>
													<p class="job-summary p-small">Como Sócio e Gestor de Marketing da REIKO tive vários desafios, como trabalhar com reprogramação de ECU e ganhos de performance na indústria automotiva, que sempre foi um de meus sonhos. Nesta oportunidade comecei em uma empresa que já visualizava sua falência e tive o desafio de reverter a situação novamente colocando a empresa em rítmo de crescimento. Tive a oportunidade de explorar novas formas de nos conectar às nossas lojas, estruturando a franquia com uma nova comunicação e  formas inovadoras de vender nosso produto. De newsletter, website, intranet, até comerciais, vídeos promocionais, material promocional e plano de ação.
													<br>
													Depois de pouco mais de seis meses, decidi traçar um novo caminho e voltar ao meu foco principal, que seria trabalhar com desenvolvimento e tecnologia. Foi um ótimo momento trabalhar com carros, mas entendi que hobbies são feitos de bons momentos, e só são assim enquanto permanecem como hobby.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1s">
												<div class="col-sm-3 duration"><span>Abr 2016 – Set 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">MM Platform Product Designer
													</span>
													<span class="job-loc">MyMixtapez Inc., Miami / Goiânia
													</span>
													<p class="job-summary p-small">During this period as a Product Designer at MyMixtapez along with the dev team, we built from the ground all the structure that became the Commercial Platform. I've worked really close to all the company stakeholders to get all the information and cues that drove our product team and really made the platform happens. At the time our main concern was to integrate with big players on the US Music Industry like Warner Music, Sony Music, Spotify and Pandora, distributing new content through our service to all of them, making music distribution way easier and faster.
													<br>
													This platform consisted of a big hub where each admin user could upload copyrighted content and distribute to all platforms, promo and ads section where they could promote the music on all of our services through many channels. It was a big and robust analytics platform where the most valuable information could be found, showing KPIs and data comparison, in which any career could be managed and directed.
													<br>
													During all the process I've worked with a lot of different tools like Sketch, Zepplin, Miro, Trello, and most of the Adobe products, later with focus on the new Adobe XD, backed up the development through GitHub and other DevOps platforms. We developed a whole new design system, used to apply Agile Scrum where we needed and always had good conversations.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.2s">
												<div class="col-sm-3 duration"><span>Abr 2015 – Set 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Creative Art Director
													</span>
													<span class="job-loc">MyMixtapez Inc., Miami / Goiânia
													</span>
													<p class="job-summary p-small">
													To concept and develop visual content for our artists marketing in our streaming platform. Having a team extremely capable and being able to talk directly to the commercial team, this was a great position to be in. During this period I had the opportunity to work close to big names such as Lil Wayne, Drake, Lil Uzi, Post Malone, 21 Savage, Meek Mill, Timbaland and more. From IG post images to full blown videoclips, audio and video mastering, merchandise and artworks, we did it all in-house. During this period I've worked a lot with Adobe AE and PS, had Trello as my main guide over the team workflow and used many other tools to improve the process and create better content everyday.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.4s">
												<div class="col-sm-3 duration"><span>Jan 2015 – Abr 2017</span></div>
												<div class="col-sm-9">
													<span class="job-desn">iOS UI/UX Designer
													</span>
													<span class="job-loc">MyMixtapez Inc., Miami / Goiânia
													</span>
													<p class="job-summary p-small">
													When I started at MM, my main duty was to develop from scratch an all new UI for the entire app. This was a big challenge at a time where skeuomorphism gave its place to flat, guidelines were still not there yet, UI/UX were general terms with no real base to prove user behavior, OSs were still being developed, going through big changes on every update, changing and morphing each Android/iOS version. Soon after I was working not just in one project but many others, it was when I first started making concepts, new features, writing requirements for them and designing new products. This was the period where I really changed my mindset, had an open mind for new challenges and everyday I wanted to learn a new thing, and I still do to this date.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.6s">
												<div class="col-sm-3 duration"><span>Jun 2014 – Mar 2015</span></div>
												<div class="col-sm-9">
													<span class="job-desn">UI/UX Designer
													</span>
													<span class="job-loc">PrimeSoftware, Goiânia
													</span>
													<p class="job-summary p-small">Iniciar em uma empresa que desenvolve sistemas de POS e softwares farmacêuticos foi uma ótima forma de iniciar uma nova carreira, tendo um background de identidade corporativa e publicidade e indo para Interfaces de dispositivos mobile e desktop. Diariamente eu desenhava, desenvolvia e gerenciava sites, criava conceitos de novas features e serviços de nossa plataforma, desenhava e atualizava o sistema POS e interfaces de outros sistemas. Nessa época, termos como UI, UX, Produto, Gestão de Produto, Product Owner, Product Designer ainda não eram falados, a industria de smartphones com Android e iOS ainda estava crescendo, guidelines, design systems e boas práticas, ainda não existiam. Foi também neste momento em que trabalhei pela primeira vez com AfterEffects, aprendi mais sobre html/css e tive o Photoshop como meu maior companheiro, descobrindo e utilizando várias ferramentas novas nesse período.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="1.8s">
												<div class="col-sm-3 duration"><span>Fev 2013 – Ago 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Digital Media Designer
													</span>
													<span class="job-loc">Agência Zarpar Creative, Remoto
													</span>
													<p class="job-summary p-small">Formado em Design, comecei trabalhando com Identidade e Design corporativo, apaixonado pela forma como tudo se conectava com a realidade e como um designer podia criar a face de uma empresa. Jobs de design gráfico começaram a requerir cada vez mais tempo, depois web design começou a me levar para outra direção e esse era o início do desenvolvimento mobile, que me impressionava.
													<br>
													Durante este período, trabalhei com Photoshop, Illustrator, InDesign, Html, Wordpress e comecei a introduzir a cultura ágil e Kanban no meu workflow.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Clientes</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
								<img src="img/client2.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>conquistas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Descrição</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
												<span class="dash-pointer">-</span>
												<span class="achive-pts">Primeira</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Segunda</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Terceira</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Quarta</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Quinta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">Sexta</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Setima</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Oitava</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
						/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>Contato</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Olá, entre em contato comigo.</h3>
								<!--
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								-->
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Mande um email no <a href="mailto:mrgabamo@gmail.com">mrgabamo@gmail.com</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">envie uma mensagem no <a href="https://www.linkedin.com/in/mrgabamo/" target="_blank">LinkedIn</a></p>
								<p class="wow fadeInRight" data-wow-duration=".4s">ou entre em contato pelo <a href="https://api.whatsapp.com/send?phone=5511999146167" target="_blank">WhatsApp</a> ou pelo <a>+55 (62) 98100-1020</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Disponível como Freelancer.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="http://facebook.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="http://flickr.com/photos/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="http://instagram.com/mrgabamo" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="subir">
										subir
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Desenvolvido por <b>Gabriel Amorim &copy; 2019.</b> Atualizado em <b>Abril de 2020.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
